// COLORS
//  ============================= *
    $primary: #226aae;
    $secondary  : rgb(214, 175, 94);
    $light  : #fefcea;
    $dark    : hsl(0, 6%, 0%);
    $dark-font: #000;
    $gray     : #4c4c4c;
    $transparentGray: hsla(0, 0%, 30%, 0.0784313725490196);
    $white    : hsl(0, 0%, 96%);


/* GLOBAL SETTINGS
    =============================  */
@import 'src/scss/globals.scss'; 

/* GRID
   ============================= */ 
    div.sheet-grid {
        display        : inline-grid;
        grid-column-gap: 1%;
        grid-row-gap: 0.5%;
    }

/* GENERIC CLASSES
    ============================= */
    div.sheet-background {
        background-color: $transparentGray;
    }

    .sheet-border {
        border: 0.15em solid $gray;
    }

    .sheet-bottom-border {
        border-bottom: 0.2em solid $dark;
    }

    .sheet-pictos {
       font-family: "pictos";
    }

    .sheet-d20 {
        font-family: "dicefontd20";
    }

    .sheet-text-center {
        text-align: center;
    }
    
    .sheet-text-right {
        text-align: right;
    }

    .sheet-font-weight-bold {
        font-weight: bold;
    }

    .sheet-text-primary {
        color: $primary;
    }

    .sheet-text-uppercase {
        text-transform: uppercase;
    }

    .sheet-text-capitalize {
        text-transform: capitalize;
    }

    div.sheet-2column {
        grid-template-columns: 1fr 1fr; 
    }

    div.sheet-3column {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    div.sheet-4column {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div.sheet-5column {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    div.sheet-2autocolumn {
        grid-template-columns: auto 1fr;
    }

    div.sheet-3autocolumn {
        grid-template-columns: auto 1fr 10%;
    }

    div.sheet-col-3 {
        grid-template-columns: 1fr 3.5em 10%;
    }

    div.sheet-gold-left-border {
        border-left: 0.2em solid $secondary;
        padding-left: 1%;
    }

    div.sheet-gold-bottom-border {
        border-bottom: 0.2em solid $secondary;
        padding-bottom: 2%;
    }
  
    div.sheet-header {
        text-align: center;
        background: #fefcea; /* Old browsers */
        background: -moz-linear-gradient(top,  #fefcea 0%, #ede4b4 50%, #fefcea 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fefcea 0%,#ede4b4 50%,#fefcea 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fefcea 0%,#ede4b4 50%,#fefcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
    }

    span.sheet-display {
        border-bottom: 2px dotted $dark;
        padding-top: 3%;
    }

    div.sheet-repeating-container {
        button { 
            font-variant: none; 
        }
    }


/* STYLED CHECKBOXES
    ============================= */
    @import 'src/scss/checkboxes.scss';   
    
/* TAB
    ============================= */
div.sheet-tabs {
    input {
        grid-column: 1;
        height: auto;
        opacity: 0;
        width: 100%;

        &:checked ~ span {
            background-color: $secondary;
        }
    }

    span {
        border: 2px solid $primary;
        text-transform: capitalize;
        display: inline-block;
        grid-column: 1;
        width: 80%;
        cursor: pointer;
    }
}

/* PC
    ============================= */
div.sheet-character {
    grid-template-columns: 1.8fr 1fr 1fr;

    h2 {
        padding-top: 5%;
        text-overflow: ellipsis;
        width: fit-content;

        &[data-i18n="Knight's Character Sheet"] {
            padding-top: 1%;
        }
    }

    div.sheet-row, div.sheet-col {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
        grid-column-gap: 1%;
    }

    div.sheet-header {
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        margin-top: 2%;
    }

    div.sheet-personality-traits {
        div.sheet-traits {
            grid-template-columns: 2% 5% 3fr 1fr 1% 1fr 3fr 5%;

            div.sheet-font-weight-bold {
                padding: 100% 2%;
            }
        }

        div.sheet-repeating-container {
            div.sheet-row {
                grid-template-columns: auto 2fr 1fr 5% 10%;
            }
        }
    }


    div.sheet-passions {
        div.sheet-row {
            grid-template-columns: 1fr 45% 5%; 
        }

        div.sheet-repeating-container {
            div.sheet-row {
                grid-template-columns: 1fr 20% 5% 10%;
            }
        }

    }

    div.sheet-equipment-carried {
        div.sheet-armor, div.sheet-clothing {
            grid-template-columns: auto 1fr auto 3.5em;
        }

        div.sheet-gear {
            grid-template-columns: 5% auto 1fr auto 3em;

            h2 {
                padding-top: 10%;
                margin-left: 2%;
            }
        }
    }

    div.sheet-attributes {
        div.sheet-size {
            grid-template-columns: auto 1fr auto;
        }

        div.sheet-constitution {
            grid-template-columns: auto 1fr 2fr auto; 
        }

        div.sheet-damage {
           grid-template-columns: auto 1fr auto; 
        }
    }

    div.sheet-distinctive-features {
        textarea {
            height: 80px;
        }

        div.sheet-repeating-container {
            div.sheet-row {
                grid-template-columns: 1fr 5% 10%;
            }
        }
    }

    div.sheet-skills {
        div.sheet-read, div.sheet-play, div.sheet-religion {
            grid-template-columns: auto 2fr 1fr 10%;
        }
    }

    div.sheet-combat-skills,
    div.sheet-skills,
    div.sheet-squire {
        div.sheet-repeating-container {
            div.sheet-row {
                grid-template-columns: 3fr 1fr 10% 15%;
            }
        }
    }

    div.sheet-knight-details {
        textarea {
            min-height: 80px;
            height: 80px;
        }
    }

    div.sheet-current-hit-points {
        textarea {
            height: 60%;
        }

        input[name='attr_current_hit_points'] {
            border: 2px solid gold;
            min-height: 30px;
        }

        div.sheet-chirurgery-needed {
            grid-template-columns: 10% 1fr;
            grid-column-gap: 2%;
        }
    }

    div.sheet-horse {
        div.sheet-other-horse {
            grid-template-columns: auto 2fr auto 1fr; 
        }

        div.sheet-repeating-container {
            div.sheet-row {
                grid-template-columns: 3fr auto 1fr;
            }
        }  
    }
}

/*  HOLDINGS
    ============================= */

div.sheet-holdings {
    grid-template-columns: 1fr  55%;

    button[type='roll'] {
        text-transform: capitalize;
    }

    h2 {
        padding-top: 5%;
        text-overflow: ellipsis;
        width: fit-content;
    }

    div.sheet-row, div.sheet-col {
        display: inline-grid;
        overflow: hidden;
        grid-auto-rows: min-content;
    }

    div.sheet-header {
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        margin-top: 2%;
        text-align: center;
        background: #fefcea; /* Old browsers */
        background: -moz-linear-gradient(top,  #fefcea 0%, #ede4b4 50%, #fefcea 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fefcea 0%,#ede4b4 50%,#fefcea 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fefcea 0%,#ede4b4 50%,#fefcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
    }

    div.sheet-annual-glory {
        h2[data-i18n='total'] {
            font-style: italic;
        }
    }

    div.sheet-family-history {
        textarea {
            margin-top: 1%;
        }

        div.sheet-col-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        div.sheet-col-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    div.sheet-character-history {
        div.sheet-gold-bottom-border {
            grid-template-columns: 3fr 1fr;
        }

        div.sheet-events {
            grid-template-columns: 5em 4fr 0.8fr 0.8fr;
        }
    }
}

/*  GAMEMASTER FEAST RECORD
    ============================= */
div.sheet-gamemaster {
    div.sheet-feast-record {
        div.sheet-header,
        div.sheet-sub-header,
        div.sheet-repeating-container div.sheet-row {
            grid-template-columns: 1fr 3.5em 3.5em 60%;
        }

        div.sheet-sub-header {
            div.sheet-table {
                grid-column: 1 / 4;
            }
        }
    }
}

/*  FOOTER
    ============================= */
@import 'src/scss/footer.scss'; 

/*  SHOW & HIDE SHEETS
    ============================= */
%displaynone {  display: none; }
%displayInlineGrid { display: inline-grid;}

$sheets: 'character', 'holdings', 'gamemaster', 'npc';
@each $value in $sheets {
    div.sheet-#{$value} {
      @extend %displayInlineGrid;
    }

    input[name='attr_sheet_type']:not([value='#{$value}']) ~ div.sheet-#{$value} {
       @extend %displaynone;
    }
}

input[name='attr_sheet_type']:not([value='gamemaster']) ~ div.sheet-tabs select[name='attr_gamemaster_type'],
input[name='attr_sheet_type'][value='gamemaster'] ~ div.sheet-tabs select[name='attr_character_type'] {
    @extend %displaynone;
 }


$types: 'knight', 'woman';
@each $value in $types {
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-character div.sheet-col,
    input[name='attr_character_type']:not([value="#{$value}"]) ~ div.sheet-holdings div.sheet-col {
        & div.sheet-row .sheet-#{$value},
        & div.sheet-personal-data div.sheet-row .sheet-#{$value},
        & div.sheet-personality-traits .sheet-#{$value},
        & div.sheet-personality-traits div.sheet-row .sheet-#{$value},
        & div.sheet-equipment-carried .sheet-#{$value},
        & div.sheet-skills .sheet-#{$value},
        & div.sheet-squire .sheet-#{$value},
        & .sheet-#{$value},
        & div.sheet-combat-skills .sheet-#{$value},
        & div.sheet-horse div.sheet-row .sheet-#{$value},
        & div.sheeet-family-history div.sheet-row {
            @extend %displaynone;
        }  
    }
}

/*  SWITCH
    ============================= */
@import 'src/scss/switch.scss';   

/* ROLL TEMPLATE STYLE
----------------------------- */
@import 'src/scss/rolltemplate.scss'; 


/* REPEATING SECTIONS
----------------------------- */
.itemcontrol .repcontrol_del {
  background-color: darkred;
  font-family: "pictos";
}