<<<<<<< HEAD
/* ROLL TEMPLATE
============================= */
    .sheet-rolltemplate-rolls {}

    .sheet-rolltemplate-rolls .sheet-template-body {
        border    : 1px solid #000;
        text-align: center;}

    .sheet-rolltemplate-rolls .sheet-template-header {
        background: rgb(33,0,0);
        background: linear-gradient(180deg, rgba(33,0,0,1) 0%, rgba(137,11,13,1) 70%, rgba(213,25,31,1) 94%);
        border                 : 1px solid #000;
        border-bottom          : 2px solid #000;
        border-top-left-radius : 10px;
        border-top-right-radius: 10px;
        color                  : white;
        font-size              : 20px;
        font-variant           : small-caps;
        font-weight            : bold;
        letter-spacing         : 2px;
        padding                : 5px;
        text-align             : center;
        text-transform         : capitalize;
    }

    .sheet-rolltemplate-rolls .sheet-template-row {
        background-color: white;
        padding: 5px;}

    /* Use this to alternate the background colors for each row */
    .sheet-rolltemplate-rolls .sheet-template-row:nth-child(2n+0) {
        background-color: #1c1c1c;}

    /* Remove some fo the built in styles around rolls */
    .sheet-rolltemplate-rolls .inlinerollresult,
    .sheet-rolltemplate-rolls .inlinerollresult.importantroll,
    .sheet-rolltemplate-rolls .inlinerollresult.fullfail,
    .sheet-rolltemplate-rolls .inlinerollresult.fullcrit {
        background-color: transparent;
        border          : none;
        color           : black;
        display         : inline-block;
        font-size       : 25px;
        padding         : 5px;}
=======
.sheet-rolltemplate-ou table {
    width: 189px;
    height: 186px;
    padding: 2px;
    background-color: #e6e6e6;
    background-size: 189px 186px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
.sheet-rolltemplate-ou-small table {
    background-color: #e6e6e6;
    width: 189px;
    height: 186px;
    padding: 4px;
    background-size: 189px 186px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}
.sheet-rolltemplate-ou th {
    color: rgb(20, 90, 50);
    padding: 10px 2px 2px 20px;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: left;
}
.sheet-rolltemplate-ou td,
.sheet-rolltemplate-ou-small td {
    padding-left: 10px;
    font-size: 1.0em;
    vertical-align: top;
}
.sheet-rolltemplate-ou .sheet-resultr {
    font-size: 1.5em;
    font-family: 'Pictos';
    text-align: center;
    color: #C0392B;
    /*color: rgb(20, 90, 50);*/
    padding-bottom: 15px;
}
.sheet-rolltemplate-ou .sheet-resultg {
    font-size: 1.5em;
    font-family: 'Pictos';
    text-align: center;
    color: #28B463;
    /*color: rgb(20, 90, 50);*/
    padding-bottom: 15px;
}
.sheet-rolltemplate-ou .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
}
.sheet-rolltemplate-ou .inlinerollresult.fullcrit {
    background-color: #28B463;
    color: #ffffff;
    border: none;
}
.sheet-rolltemplate-ou .inlinerollresult.fullfail {
    background-color: #C0392B;
    color: #ffffff;
    border: none;
}
.sheet-rolltemplate-ou .sheet-res .inlinerollresult.fullcrit,
.sheet-rolltemplate-ou .sheet-res .inlinerollresult.fullfail {
    background-color: transparent;
    color: black;
    border: black;
}
.sheet-rolltemplate-ou-small .sheet-diff .inlinerollresult,
.sheet-rolltemplate-ou .sheet-diff .inlinerollresult {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    border: none; 
}
.sheet-rolltemplate-ou-small .sheet-speed .inlinerollresult,
.sheet-rolltemplate-ou .sheet-speed .inlinerollresult {
    background-color: #104ac9;
    color: #ffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
}
.sheet-rolltemplate-ou-small .sheet-damage .inlinerollresult,
.sheet-rolltemplate-ou .sheet-damage .inlinerollresult {
    background-color: #ce3c2d;
    color: #ffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
}
.sheet-rolltemplate-ou-small .sheet-deplete .inlinerollresult,
.sheet-rolltemplate-ou .sheet-deplete .inlinerollresult {
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
}
.sheet-rolltemplate-ou-small .sheet-speed-five .inlinerollresult.fullcrit,
.sheet-rolltemplate-ou .sheet-speed-five .inlinerollresult.fullcrit {
    background: url('https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/HuntersIcon_speed_16pxW_x16pxH.jpg') bottom;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    z-index: +1;
    font-size: 1.2em;
    color: transparent;
}
.sheet-rolltemplate-ou-small .sheet-damage-five .inlinerollresult.fullcrit,
.sheet-rolltemplate-ou .sheet-damage-five .inlinerollresult.fullcrit {
    background: url('https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/HuntersIcon_damage_16pxW_x16pxH.jpg') bottom;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    z-index: +1;
    font-size: 1.2em;
    color: transparent;
}
.sheet-rolltemplate-ou-small .sheet-deplete-five .inlinerollresult.fullcrit,
.sheet-rolltemplate-ou .sheet-deplete-five .inlinerollresult.fullcrit {
    background: url('https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/HuntersIcon_depletion_16pxW_x16pxH.jpg') bottom;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    z-index: +1;
    font-size: 1.2em;
    color: transparent;
}
>>>>>>> 3e3aaa21464c8a382952d339d32840eb263262b1
